* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: aqua;;
    padding: 20px;
  }
  .container {
    text-align: center;
  }
  .goback-button {
    text-align: center;
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .goback-button:hover {
    background-color: #45a049;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .gallery {

    display: block; width: 100%; max-width: 500px;
    margin: 60px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  .galler>* {
    max-width: 100%;
  }
  .img2{
    margin-left: auto;
    margin-right: auto;
  }

  .gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
  }